@{
    ViewData["Title"] = "Home Page";
}

<style>

    body {
        margin: 0;
        padding: 0;
        font-family: Arial, sans-serif;
        background-color: #f0f0f0;
    }

    header {
        background-color: #258cfb;
        color: #fff;
        text-align: center;
        padding: 20px 0;
    }

    .header-container {
        max-width: 100%;
    }

    h1 {
        font-size: 36px;
        margin: 0;
    }

    main {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 60vh;
    }

    .main-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 100%;
    }

    .box {
        background-color: #fff;
        border: 1px solid #ddd;
        text-align: center;
        padding: 40px; /* Aumenta el espacio interior de la caja */
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        transition: transform 0.3s;
        width: calc(30% - 40px); /* Ajusta el ancho de las cajas y el espacio entre ellas */
        margin: 20px; /* Aumenta el espacio entre las cajas */
    }

        .box h2 {
            font-size: 36px; /* Aumenta el tamaño del texto */
        }

        

        .box:hover {
            transform: translateY(-5px);
        }

        
        

    .btn {
        display: inline-block;
        padding: 10px 20px;
        background-color: #258cfb;
        color: #fff;
        text-decoration: none;
        border: none;
        border-radius: 5px;
        transition: background-color 0.3s;
    }

        .btn:hover {
            background-color: #1c6bb7;
        }


</style>
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Principal</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
   
    <main>
        <div class="main-container">
            <div class="box">
                <h2>Convocatorias</h2>
                <a href="#" class="btn">Ver Convocatorias</a>
            </div>
            <div class="box">
                <h2>Noticias</h2>
                <a href="#" class="btn">Ver Noticias</a>
            </div>
            <div class="box">
                <h2>Cursos</h2>
                <a href="#" class="btn">Ver Cursos</a>
            </div>
        </div>
    </main>
</body>
</html>

